<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hello, I'm Sami Benyoussef.</p>
                <p class="text-faded">I'm am a Full-Stack Web Developer & Android Developer with over 10 years of experience.</p>
                <!--<a href="#" class="btn btn-default btn-xl">You Can Donate To Supporting Me!</a>-->
                <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<!--
    PeoplePerHour Profile Widget
    The div#pph-hire me is the element
    where the iframe will be inserted.
    You may move this element wherever
    you need to display the widget
-->
<div id="pph-hireme"></div>
<script type="text/javascript">
(function(d, s) {
    var useSSL = 'https:' == document.location.protocol;
    var js, where = d.getElementsByTagName(s)[0],
    js = d.createElement(s);
    js.src = (useSSL ? 'https:' : 'http:') +  '//www.peopleperhour.com/hire/979546701/382189.js?width=300&height=255&orientation=vertical&theme=dark&hourlies=600475&rnd='+parseInt(Math.random()*10000, 10);
    try { where.parentNode.insertBefore(js, where); } catch (e) { if (typeof console !== 'undefined' && console.log && e.stack) { console.log(e.stack); } }
}(document, 'script'));
</script>


            </div>
        </div>
    </div>
</section>
