<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hello, I'm Sami Benyoussef.</p>
                <p class="text-faded">I'm am a Full-Stack Web Developer & Android Developer with over 10 years of experience.</p>
                <!--<a href="#" class="btn btn-default btn-xl">You Can Donate To Supporting Me!</a>-->
                <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
    <a itemprop='url' href=https://www.fiverr.com/samiby rel="nofollow" target="_blank" style='display: inline-block;'>
       <div class='fiverr-seller-content' id='fiverr-seller-widget-content-2435d855-8721-41ae-ab72-c3aa60054f2f' itemprop='contentURL' style='display: none;'></div>
       <div id='fiverr-widget-seller-data' style='display: none;'>
           <div itemprop='name' >samiby</div>
           <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
           <div itemprop='jobtitle'>Seller</div>
           <div itemprop='description'>I am a Full Stack Web Developer with over 10 years of expertise in PHP, Bootstrap, WordPress, Joomla, etc.

I always provide stunning, responsive, creative and beautiful CMS websites Design such as Android & iOS Mobile Applications to my clients.

Perfection, Quality & Continuous attention are my priorities.

I'm well organized, observed deadline and have an eye on details.

My work is always very fast and clean. I am always available to you.

Feel free to send me a message here in Fiverr for any inquiries :)</div>
       </div>
   </a>
</div>

<script id='fiverr-seller-widget-script-2435d855-8721-41ae-ab72-c3aa60054f2f' src='https://widgets.fiverr.com/api/v1/seller/samiby?widget_id=2435d855-8721-41ae-ab72-c3aa60054f2f' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
    <a itemprop='url' href=https://www.fiverr.com/samiby rel="nofollow" target="_blank" style='display: inline-block;'>
       <div class='fiverr-seller-content' id='fiverr-seller-widget-content-dae86454-d137-4b8a-af21-da6c6af0342f' itemprop='contentURL' style='display: none;'></div>
       <div id='fiverr-widget-seller-data' style='display: none;'>
           <div itemprop='name' >samiby</div>
           <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
           <div itemprop='jobtitle'>Seller</div>
           <div itemprop='description'>Greetings!

My name is Sami.  

I am a Full Stack Web Developer with over 10 years of experience in PHP, Bootstrap, WordPress, Joomla, etc. I provide stunning, responsive, creative and beautiful CMS website designs. In addition, I have 20 years of general web development experience.

Perfection, quality, and continuous attention are my priorities. I am well-organized, meet all my deadlines and am detail-oriented. 

I work quickly and produce a clean output. I am always available to you. 

For any inquiries, feel free to send me a message here in Fiverr :)</div>
       </div>
   </a>
</div>

<script id='fiverr-seller-widget-script-dae86454-d137-4b8a-af21-da6c6af0342f' src='https://widgets.fiverr.com/api/v1/seller/samiby?widget_id=dae86454-d137-4b8a-af21-da6c6af0342f' data-config='{"category_name":"\n                                    Graphics \u0026 Design\n\n                            "}' async='true' defer='true'></script>


<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
    <a itemprop='url' href=https://www.fiverr.com/samiby rel="nofollow" target="_blank" style='display: inline-block;'>
       <div class='fiverr-seller-content' id='fiverr-seller-widget-content-3812e477-58bc-42fd-872f-e5906f2634e2' itemprop='contentURL' style='display: none;'></div>
       <div id='fiverr-widget-seller-data' style='display: none;'>
           <div itemprop='name' >samiby</div>
           <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
           <div itemprop='jobtitle'>Seller</div>
           <div itemprop='description'>Greetings!

My name is Sami.  

I am a Full Stack Web Developer with over 10 years of experience in PHP, Bootstrap, WordPress, Joomla, etc. I provide stunning, responsive, creative and beautiful CMS website designs. In addition, I have 20 years of general web development experience.

Perfection, quality, and continuous attention are my priorities. I am well-organized, meet all my deadlines and am detail-oriented. 

I work quickly and produce a clean output. I am always available to you. 

For any inquiries, feel free to send me a message here in Fiverr :)</div>
       </div>
   </a>
</div>

<script id='fiverr-seller-widget-script-3812e477-58bc-42fd-872f-e5906f2634e2' src='https://widgets.fiverr.com/api/v1/seller/samiby?widget_id=3812e477-58bc-42fd-872f-e5906f2634e2' data-config='{"category_name":"\n                                    Writing \u0026 Translation\n\n                            "}' async='true' defer='true'></script>


            </div>
        </div>
    </div>
</section>
